<div>
    <ul>
        <li>First Name: {{User.ninti.firstName}}</li>
        <li>Last Name: {{User.ninti.lastName}}</li>
        <li>Username: {{User.ninti.username}}</li>
        <li>Email: {{User.ninti.email}}</li>
        <li>{{User.ninti.photoUrl}}</li>
    </ul>
</div>