<div>
    {{#each users}}
    <div>
        <img src="{{this.photoUrl}}" alt="Picture of {{this.username}}">
        <p>Name: {{this.firstName}} {{this.lastName}}</p>
        <p>Username: {{this.username}}</p>
        <p>Email: {{this.email}}</p>
        <a href="/users/{{this._id}}">Go to User</a>
    </div>
    {{/each}}
    <div>
        <button><a href="/users/new">New User</a></button>
    </div>
</div>