<div>
    <ul>
        <li>{{User.firstName}}</li>
        <li>{{User.lastName}}</li>
        <li>{{User.username}}</li>
        <li>{{User.email}}</li>
        <li>{{User.photoUrl}}</li>
    </ul>
</div>