<div>
    <img src="{{user.photoUrl}}" alt="Picture of {{user.username}}">
    <p>Name: {{user.firstName}} {{user.lastName}}</p>
    <p>Username: {{user.username}}</p>
    <p>Email: {{user.email}}</p>
    <button class="delete"><a href="/users/{{user._id}}/delete">Delete User</a></button>
    <button class="update"><a href="/users/{{user._id}}/edit">Edit User</a></button>
    <button class="home"><a href="/users">Go Home</a></button>
    <button class="stores"><a href="/users/{{user._id}}/stores">Show Stores</a></button>
</div>